extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  header.header
    nav.globalnav
      ul.globalnav__wrapper
        li: a(href="#").globalnav__item
        li: a(href="#").globalnav__item
        li: a(href="#").globalnav__item
        li: a(href="#").globalnav__item
        li: a(href="#").globalnav__item
        li: a(href="#").globalnav__item
  
  .fv
    h1.fv__ttl Men's Suits Collection
    .fv__scroll scroll
  
  section#suits1.content
    .content__img
      .content__img__wrapper
        img(src="", alt="", srcset="")
    .content__detail
      h1 White Casual
      p ここにスーツの説明文を入れるつもりでいる

  section#suits2.content
    .content__img
      .content__img__wrapper
        img(src="", alt="", srcset="")
    .content__detail
      h1 White Casual
      p ここにスーツの説明文を入れるつもりでいる
  
  section#suits3.content
    .content__img
      .content__img__wrapper
        img(src="", alt="", srcset="")
    .content__detail
      h1 White Casual
      p ここにスーツの説明文を入れるつもりでいる

  section#suits4.content
    .content__img
      .content__img__wrapper
        img(src="", alt="", srcset="")
    .content__detail
      h1 White Casual
      p ここにスーツの説明文を入れるつもりでいる

  section#suits5.content
    .content__img
      .content__img__wrapper
        img(src="", alt="", srcset="")
    .content__detail
      h1 White Casual
      p ここにスーツの説明文を入れるつもりでいる

  section#suits6.content
    .content__img
      .content__img__wrapper
        img(src="", alt="", srcset="")
    .content__detail
      h1 White Casual
      p ここにスーツの説明文を入れるつもりでいる

  footer.pagefooter
    .pagefooter__top TOP

